TDK Website Multimodal RAGDemo.json
{
  "name": "TDK Multimodal RAG (Fixed v2)",
  "nodes": [
    {
      "parameters": {},
      "id": "6470007a-4ebd-4900-bb3f-6fe1cb12f3d4",
      "name": "Start Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urls",
              "name": "urls",
              "value": "=[\n  {\"url\": \"https://trustedpositioning.tdk.com/\", \"page\": \"homepage\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/auto\", \"page\": \"auto\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/track\", \"page\": \"track\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/drive\", \"page\": \"drive\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/stride\", \"page\": \"stride\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/ride\", \"page\": \"ride\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/venue\", \"page\": \"venue\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/faq\", \"page\": \"faq\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/our-technology\", \"page\": \"technology\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/automotive\", \"page\": \"automotive-industry\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/industrial-and-robotics\", \"page\": \"industrial-robotics\"}\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "c4ea6bbe-74ea-4060-ac18-1c0b78a1e09f",
      "name": "Define URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "metadata->>source=like.*trustedpositioning*"
      },
      "id": "138cd912-7c3c-4973-a71b-220dfc309d27",
      "name": "Clear Old Docs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const urls = $('Define URLs').first().json.urls;\nreturn urls.map(item => ({ json: item }));"
      },
      "id": "84d8b9a1-cef7-4dac-969b-52b807c0ad8d",
      "name": "Split URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "f06cc96f-4543-4a85-9bf3-f7a0f1547c06",
      "name": "Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Process ALL items, not just first\n// Content extraction: tables, images, text\n\nconst allInputs = $input.all();\nconst splitUrlsItems = $('Split URLs').all();\nconst results = [];\n\nfor (let i = 0; i < allInputs.length; i++) {\n  let html = allInputs[i].json.data || '';\n  html = typeof html === 'string' ? html : String(html || '');\n  \n  // Get page/url from Split URLs at same index\n  const page = splitUrlsItems[i]?.json?.page || 'unknown';\n  const baseUrl = splitUrlsItems[i]?.json?.url || '';\n  \n  if (!html || html.length < 100) {\n    results.push({\n      json: {\n        page: page,\n        url: baseUrl,\n        text: '',\n        images: [],\n        tableCount: 0,\n        imageCount: 0,\n        source: 'trustedpositioning.tdk.com',\n        error: 'Empty or invalid HTML response'\n      }\n    });\n    continue;\n  }\n  \n  function resolveUrl(src, base) {\n    try {\n      return new URL(src, base).href;\n    } catch (e) {\n      return src;\n    }\n  }\n  \n  // Table extraction - convert to markdown\n  function extractTables(html) {\n    const tables = [];\n    const tableRegex = /<table[^>]*>([\\s\\S]*?)<\\/table>/gi;\n    let tableMatch;\n    \n    while ((tableMatch = tableRegex.exec(html)) !== null) {\n      const tableHtml = tableMatch[0];\n      const rows = [];\n      const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n      let rowMatch;\n      \n      while ((rowMatch = rowRegex.exec(tableHtml)) !== null) {\n        const rowHtml = rowMatch[1];\n        const cells = [];\n        const cellRegex = /<t[hd][^>]*>([\\s\\S]*?)<\\/t[hd]>/gi;\n        let cellMatch;\n        \n        while ((cellMatch = cellRegex.exec(rowHtml)) !== null) {\n          let cellText = cellMatch[1]\n            .replace(/<[^>]+>/g, ' ')\n            .replace(/&nbsp;/g, ' ')\n            .replace(/\\s+/g, ' ')\n            .trim();\n          cells.push(cellText);\n        }\n        \n        if (cells.length > 0) {\n          rows.push(cells);\n        }\n      }\n      \n      if (rows.length > 0) {\n        let markdown = '\\n\\n**[TABLE]**\\n';\n        const maxCols = Math.max(...rows.map(r => r.length));\n        \n        markdown += '| ' + rows[0].map(c => c || '-').join(' | ') + ' |\\n';\n        markdown += '|' + ' --- |'.repeat(maxCols) + '\\n';\n        \n        for (let j = 1; j < rows.length; j++) {\n          const paddedRow = [...rows[j]];\n          while (paddedRow.length < maxCols) paddedRow.push('-');\n          markdown += '| ' + paddedRow.join(' | ') + ' |\\n';\n        }\n        \n        tables.push(markdown);\n      }\n    }\n    \n    return tables;\n  }\n  \n  // Image extraction with smart filtering\n  function extractImages(html, baseUrl) {\n    const images = [];\n    const imageRegex = /<img[^>]+>/gi;\n    let match;\n    \n    while ((match = imageRegex.exec(html)) !== null) {\n      const imgTag = match[0];\n      let srcMatch = imgTag.match(/(?:data-src|src)=['\"]([^'\"]+)['\"]/i);\n      const altMatch = imgTag.match(/alt=['\"]([^'\"]*?)['\"]/i);\n      \n      if (!srcMatch) continue;\n      \n      let src = srcMatch[1];\n      const alt = altMatch ? altMatch[1] : '';\n      src = resolveUrl(src, baseUrl);\n      \n      const srcLower = src.toLowerCase();\n      const altLower = alt.toLowerCase();\n      \n      if (\n        srcLower.includes('icon') ||\n        srcLower.includes('favicon') ||\n        srcLower.includes('pixel') ||\n        srcLower.includes('spacer') ||\n        srcLower.includes('blank') ||\n        srcLower.includes('arrow') ||\n        srcLower.includes('bullet') ||\n        srcLower.includes('linkedin') ||\n        srcLower.includes('twitter') ||\n        srcLower.includes('facebook') ||\n        (srcLower.includes('youtube') && srcLower.includes('icon')) ||\n        srcLower.includes('menu') ||\n        srcLower.includes('hamburger') ||\n        srcLower.includes('close') ||\n        srcLower.includes('search') ||\n        /\\/w_[1-4]\\d,/.test(src) ||\n        /\\/h_[1-4]\\d,/.test(src) ||\n        (src.startsWith('data:') && src.length < 500)\n      ) {\n        continue;\n      }\n      \n      const isProductImage = \n        altLower.includes('product') ||\n        altLower.includes('auto') ||\n        altLower.includes('track') ||\n        altLower.includes('drive') ||\n        altLower.includes('stride') ||\n        altLower.includes('ride') ||\n        altLower.includes('venue') ||\n        altLower.includes('diagram') ||\n        altLower.includes('chart') ||\n        altLower.includes('banner') ||\n        altLower.includes('vehicle') ||\n        altLower.includes('robot') ||\n        altLower.includes('gps') ||\n        altLower.includes('positioning') ||\n        srcLower.includes('tp-product') ||\n        srcLower.includes('banner') ||\n        srcLower.includes('hero');\n      \n      const hasGoodSize = \n        /\\/w_[1-9]\\d{2,}/.test(src) ||\n        /\\/h_[1-9]\\d{2,}/.test(src) ||\n        !src.includes('wixstatic');\n      \n      if (src.startsWith('http') && (isProductImage || hasGoodSize)) {\n        images.push({\n          url: src,\n          alt: alt,\n          isProductImage: isProductImage\n        });\n      }\n    }\n    \n    const seen = new Set();\n    return images.filter(img => {\n      if (seen.has(img.url)) return false;\n      seen.add(img.url);\n      return true;\n    }).slice(0, 15);\n  }\n  \n  // Text extraction\n  function extractText(html) {\n    let text = html\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n      .replace(/<table[^>]*>[\\s\\S]*?<\\/table>/gi, ' [TABLE_PLACEHOLDER] ')\n      .replace(/<h1[^>]*>([^<]*)<\\/h1>/gi, '\\n\\n# $1\\n')\n      .replace(/<h2[^>]*>([^<]*)<\\/h2>/gi, '\\n\\n## $1\\n')\n      .replace(/<h3[^>]*>([^<]*)<\\/h3>/gi, '\\n\\n### $1\\n')\n      .replace(/<h4[^>]*>([^<]*)<\\/h4>/gi, '\\n\\n#### $1\\n')\n      .replace(/<h5[^>]*>([^<]*)<\\/h5>/gi, '\\n\\n##### $1\\n')\n      .replace(/<h6[^>]*>([^<]*)<\\/h6>/gi, '\\n\\n###### $1\\n')\n      .replace(/<li[^>]*>/gi, '\\n• ')\n      .replace(/<\\/p>/gi, '\\n\\n')\n      .replace(/<br[^>]*>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      .replace(/&copy;/g, '©')\n      .replace(/&trade;/g, '™')\n      .replace(/&reg;/g, '®')\n      .replace(/[ \\t]+/g, ' ')\n      .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n')\n      .trim();\n    \n    text = text\n      .replace(/xml version[^\"]*\"[^\"]*\"/g, '')\n      .replace(/top of page|bottom of page/gi, '')\n      .replace(/Sign In|Get Started|Newsletter|Subscribe/gi, '')\n      .replace(/All Rights Reserved[^\\n]*/gi, '')\n      .replace(/Privacy Policy|Terms of Use|Cookie Policy/gi, '')\n      .trim();\n    \n    return text;\n  }\n  \n  const tables = extractTables(html);\n  const images = extractImages(html, baseUrl);\n  let text = extractText(html);\n  \n  tables.forEach((table) => {\n    text = text.replace('[TABLE_PLACEHOLDER]', table);\n  });\n  text = text.replace(/\\[TABLE_PLACEHOLDER\\]/g, '');\n  \n  results.push({\n    json: {\n      page: page,\n      url: baseUrl,\n      text: text,\n      images: images,\n      tableCount: tables.length,\n      imageCount: images.length,\n      source: 'trustedpositioning.tdk.com'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a3c6d7c0-5b17-483a-8c54-cd2cc9dba0ee",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Process ALL items, not just first\n// Split images for Vision API processing\n\nconst allInputs = $input.all();\nconst results = [];\n\nfor (let i = 0; i < allInputs.length; i++) {\n  const input = allInputs[i].json;\n  const images = input.images || [];\n  \n  if (images.length === 0) {\n    results.push({\n      json: {\n        ...input,\n        imageDescriptions: [],\n        skipVision: true\n      }\n    });\n    continue;\n  }\n  \n  for (let index = 0; index < images.length; index++) {\n    const img = images[index];\n    results.push({\n      json: {\n        imageUrl: img.url,\n        imageAlt: img.alt,\n        isProductImage: img.isProductImage,\n        imageIndex: index,\n        pageData: {\n          page: input.page,\n          url: input.url,\n          text: input.text,\n          tableCount: input.tableCount,\n          source: input.source\n        }\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "93928f85-ddb4-4c5f-aef4-34df16bb3357",
      "name": "Split Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are analyzing images from TDK Trusted Positioning's website. This company makes GPS/GNSS positioning software for environments where satellite signals are degraded (tunnels, urban canyons, indoors).\\n\\nProducts: AUTO (autonomous vehicles), TRACK (fleet tracking), DRIVE (navigation), STRIDE (wearables), RIDE (micromobility), VENUE (indoor positioning).\\n\\nDescribe what you see:\\n- Technical diagrams: components and data flow\\n- Product images: what product/use case is shown\\n- Charts: what data is being compared\\n- Architecture: system components and relationships\\n\\nBe specific. Include key text visible in the image. Keep under 150 words.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Describe this image from the '{{ $json.pageData.page }}' page.{{ $json.imageAlt ? ' Context: ' + $json.imageAlt : '' }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.imageUrl }}\",\n            \"detail\": \"low\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 250\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "db6ff2de-7b73-4754-806a-d5aeeb9f12fe",
      "name": "Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Process ALL items, not just first\n// Extract description from Vision API response\n\nconst allInputs = $input.all();\nconst splitImagesItems = $('Split Images').all();\nconst results = [];\n\nfor (let i = 0; i < allInputs.length; i++) {\n  const input = allInputs[i].json;\n  let description = '';\n  \n  try {\n    if (input.choices && input.choices[0]) {\n      description = input.choices[0].message.content;\n    } else if (input.error) {\n      description = `[Vision failed: ${input.error.message || 'Unknown error'}]`;\n    } else {\n      description = '[Vision failed]';\n    }\n  } catch (e) {\n    description = '[Vision failed]';\n  }\n  \n  const splitData = splitImagesItems[i]?.json || {};\n  \n  results.push({\n    json: {\n      description: description,\n      imageUrl: splitData.imageUrl,\n      imageAlt: splitData.imageAlt,\n      imageIndex: splitData.imageIndex,\n      pageData: splitData.pageData,\n      skipVision: splitData.skipVision\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ed540306-f4cd-4135-916b-94f65445a94a",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "395eef77-793c-47bf-ba81-cd059f8827c2",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1856,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine text, tables, and image descriptions into final documents\nconst items = $input.first().json.data;\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No data to process' } }];\n}\n\nconst pageGroups = {};\n\nitems.forEach(item => {\n  if (item.skipVision) {\n    pageGroups[item.page] = {\n      page: item.page,\n      url: item.url,\n      text: item.text,\n      tableCount: item.tableCount,\n      source: item.source,\n      imageDescriptions: []\n    };\n    return;\n  }\n  \n  if (item.pageData) {\n    const page = item.pageData.page;\n    if (!pageGroups[page]) {\n      pageGroups[page] = {\n        page: item.pageData.page,\n        url: item.pageData.url,\n        text: item.pageData.text,\n        tableCount: item.pageData.tableCount,\n        source: item.pageData.source,\n        imageDescriptions: []\n      };\n    }\n    \n    if (item.description && !item.description.includes('failed')) {\n      pageGroups[page].imageDescriptions.push({\n        url: item.imageUrl,\n        alt: item.imageAlt,\n        description: item.description\n      });\n    }\n  }\n});\n\nconst results = Object.values(pageGroups).map(pageData => {\n  // CRITICAL: We prepend the metadata directly into the 'content' field\n  let content = `SOURCE: ${pageData.url}\\nPAGE: ${pageData.page}\\n\\n${pageData.text}`;\n  \n  if (pageData.imageDescriptions.length > 0) {\n    content += '\\n\\n=== VISUAL CONTENT ===\\n';\n    pageData.imageDescriptions.forEach((img, i) => {\n      content += `\\n[Image ${i + 1}]`;\n      if (img.alt) content += ` (${img.alt})`;\n      content += `:\\n${img.description}\\n`;\n    });\n  }\n  \n  return {\n    json: {\n      content: content,\n      page: pageData.page,\n      url: pageData.url,\n      source: pageData.source,\n      tableCount: pageData.tableCount || 0,\n      imageCount: pageData.imageDescriptions.length,\n      contentType: 'multimodal'\n    }\n  };\n});\n\nreturn results;"
      },
      "id": "65062344-5507-472a-8c61-8fe92f9a93e5",
      "name": "Build Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "def95928-6498-42b0-8d58-7ec72bf0f859",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2224,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "page",
                "value": "={{ $json.page }}"
              },
              {
                "name": "url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "contentType",
                "value": "={{ $json.contentType }}"
              }
            ]
          }
        }
      },
      "id": "1e1cb4d9-d30e-4c67-a87e-cec59ca8e8b1",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2432,
        224
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "id": "448750c7-f5cb-4320-9776-5fcaa780ca4e",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2368,
        432
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5da77c89-73cd-4fb2-9dca-68dd0611950e",
      "name": "Store Vectors",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2336,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.page }}: {{ $json.tableCount }} tables, {{ $json.imageCount }} images indexed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "637bc939-762e-4d59-ae25-14ff21da9444",
      "name": "Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        0
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "1532ccff-83e8-4f16-8eed-28c192c7a815",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        752
      ],
      "webhookId": "tdk-rag"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "008f998c-b1d0-4bc5-9a13-ab6e335b7e35",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        64,
        976
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a product consultant for TDK Trusted Positioning. \n\nCRITICAL: You MUST ALWAYS call the 'tdk_knowledge' tool before answering any question. Using internal memory or knowledge is strictly prohibited. If the tool returns no relevant information, state that the information is not available in the database.\n\n## Product Selection Guide:\n- AUTO: Only for autonomous vehicles (L4/L5) or robotics. 100Hz accuracy.\n- DRIVE: For human drivers, navigation, and lane-level guidance. 100Hz accuracy.\n- TRACK: For fleet management and logistics tracking. 1Hz update rate.\n- VENUE: Indoor positioning for warehouses and factories.\n- STRIDE: Wearables and IoT.\n- RIDE: Micromobility (scooters, bikes).\n\n## Operational Rules:\n- Explain WHY a product fits based on technical specs (e.g., update rate differences).\n- Use \"VISUAL CONTENT\" sections to describe diagrams or system flows.\n- Be direct and technical.\n\n"
        }
      },
      "id": "2c4f1ceb-cfb5-4f27-874f-437c0275e4e1",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        112,
        752
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "b76cc983-054d-4073-904e-8f0d4f8847b8",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        192,
        976
      ]
    },
    {
      "parameters": {
        "name": "tdk_knowledge",
        "description": "TDK Trusted Positioning knowledge base containing product information, technical specs, comparison tables, and diagram descriptions.\n\nMUST USE THIS TOOL for any questions about TDK products (AUTO, TRACK, VENUE, etc.). This tool contains the ONLY valid source URLs and technical specifications. Do not answer from memory.",
        "topK": 10
      },
      "id": "2c17b534-6acc-433e-afba-5e2dc2855bf4",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        320,
        976
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d880806a-a7e3-4996-b9cd-ce0dbf02882f",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        224,
        1184
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "6d4d9ed0-c3f2-47ab-b81d-3ac147a2ff4b",
      "name": "Query Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -64,
        1392
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6d6392a-b93d-48f4-9ee8-7aa3cf394850",
      "name": "Tool LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        736,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Ingestion": {
      "main": [
        [
          {
            "node": "Define URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define URLs": {
      "main": [
        [
          {
            "node": "Clear Old Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Docs": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Fetch HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Vision API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Build Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Documents": {
      "main": [
        [
          {
            "node": "Store Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vectors": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Store Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7139ddf8-141c-48d7-a5ad-2e7651ffa9c5",
  "meta": {
    "instanceId": "485201702c5dc87991ea5296475b11947e8122f3e652c9f4d4c3a7e1b03fe7aa"
  },
  "id": "yTuvvmfjCdVxipME8TnX_",
  "tags": []
}
