TDK Website Multimodal RAGDemo.json
{
  "name": "TDK RAG (Text Only v4)",
  "nodes": [
    {
      "parameters": {},
      "id": "6470007a-4ebd-4900-bb3f-6fe1cb12f3d4",
      "name": "Start Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urls",
              "name": "urls",
              "value": "=[\n  {\"url\": \"https://trustedpositioning.tdk.com/\", \"page\": \"homepage\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/auto\", \"page\": \"auto\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/track\", \"page\": \"track\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/drive\", \"page\": \"drive\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/stride\", \"page\": \"stride\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/ride\", \"page\": \"ride\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/venue\", \"page\": \"venue\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/faq\", \"page\": \"faq\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/our-technology\", \"page\": \"technology\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/automotive\", \"page\": \"automotive-industry\"},\n  {\"url\": \"https://trustedpositioning.tdk.com/industrial-and-robotics\", \"page\": \"industrial-robotics\"}\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "c4ea6bbe-74ea-4060-ac18-1c0b78a1e09f",
      "name": "Define URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "metadata->>source=like.*trustedpositioning*"
      },
      "id": "138cd912-7c3c-4973-a71b-220dfc309d27",
      "name": "Clear Old Docs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const urls = $('Define URLs').first().json.urls;\nreturn urls.map(item => ({ json: item }));"
      },
      "id": "84d8b9a1-cef7-4dac-969b-52b807c0ad8d",
      "name": "Split URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "f06cc96f-4543-4a85-9bf3-f7a0f1547c06",
      "name": "Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract text and tables from HTML (no images)\n\nconst allInputs = $input.all();\nconst splitUrlsItems = $('Split URLs').all();\nconst results = [];\n\nfor (let i = 0; i < allInputs.length; i++) {\n  let html = allInputs[i].json.data || '';\n  html = typeof html === 'string' ? html : String(html || '');\n  \n  const page = splitUrlsItems[i]?.json?.page || 'unknown';\n  const baseUrl = splitUrlsItems[i]?.json?.url || '';\n  \n  if (!html || html.length < 100) {\n    results.push({\n      json: {\n        page: page,\n        url: baseUrl,\n        text: '',\n        tableCount: 0,\n        source: 'trustedpositioning.tdk.com',\n        error: 'Empty or invalid HTML response'\n      }\n    });\n    continue;\n  }\n  \n  // Table extraction - convert to markdown\n  function extractTables(html) {\n    const tables = [];\n    const tableRegex = /<table[^>]*>([\\s\\S]*?)<\\/table>/gi;\n    let tableMatch;\n    \n    while ((tableMatch = tableRegex.exec(html)) !== null) {\n      const tableHtml = tableMatch[0];\n      const rows = [];\n      const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n      let rowMatch;\n      \n      while ((rowMatch = rowRegex.exec(tableHtml)) !== null) {\n        const rowHtml = rowMatch[1];\n        const cells = [];\n        const cellRegex = /<t[hd][^>]*>([\\s\\S]*?)<\\/t[hd]>/gi;\n        let cellMatch;\n        \n        while ((cellMatch = cellRegex.exec(rowHtml)) !== null) {\n          let cellText = cellMatch[1]\n            .replace(/<[^>]+>/g, ' ')\n            .replace(/&nbsp;/g, ' ')\n            .replace(/\\s+/g, ' ')\n            .trim();\n          cells.push(cellText);\n        }\n        \n        if (cells.length > 0) {\n          rows.push(cells);\n        }\n      }\n      \n      if (rows.length > 0) {\n        let markdown = '\\n\\n**[TABLE]**\\n';\n        const maxCols = Math.max(...rows.map(r => r.length));\n        \n        markdown += '| ' + rows[0].map(c => c || '-').join(' | ') + ' |\\n';\n        markdown += '|' + ' --- |'.repeat(maxCols) + '\\n';\n        \n        for (let j = 1; j < rows.length; j++) {\n          const paddedRow = [...rows[j]];\n          while (paddedRow.length < maxCols) paddedRow.push('-');\n          markdown += '| ' + paddedRow.join(' | ') + ' |\\n';\n        }\n        \n        tables.push(markdown);\n      }\n    }\n    \n    return tables;\n  }\n  \n  // Text extraction\n  function extractText(html) {\n    let text = html\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n      .replace(/<table[^>]*>[\\s\\S]*?<\\/table>/gi, ' [TABLE_PLACEHOLDER] ')\n      .replace(/<h1[^>]*>([^<]*)<\\/h1>/gi, '\\n\\n# $1\\n')\n      .replace(/<h2[^>]*>([^<]*)<\\/h2>/gi, '\\n\\n## $1\\n')\n      .replace(/<h3[^>]*>([^<]*)<\\/h3>/gi, '\\n\\n### $1\\n')\n      .replace(/<h4[^>]*>([^<]*)<\\/h4>/gi, '\\n\\n#### $1\\n')\n      .replace(/<h5[^>]*>([^<]*)<\\/h5>/gi, '\\n\\n##### $1\\n')\n      .replace(/<h6[^>]*>([^<]*)<\\/h6>/gi, '\\n\\n###### $1\\n')\n      .replace(/<li[^>]*>/gi, '\\n• ')\n      .replace(/<\\/p>/gi, '\\n\\n')\n      .replace(/<br[^>]*>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      .replace(/&copy;/g, '©')\n      .replace(/&trade;/g, '™')\n      .replace(/&reg;/g, '®')\n      .replace(/[ \\t]+/g, ' ')\n      .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n')\n      .trim();\n    \n    text = text\n      .replace(/xml version[^\"]*\"[^\"]*\"/g, '')\n      .replace(/top of page|bottom of page/gi, '')\n      .replace(/Sign In|Get Started|Newsletter|Subscribe/gi, '')\n      .replace(/All Rights Reserved[^\\n]*/gi, '')\n      .replace(/Privacy Policy|Terms of Use|Cookie Policy/gi, '')\n      .trim();\n    \n    return text;\n  }\n  \n  const tables = extractTables(html);\n  let text = extractText(html);\n  \n  tables.forEach((table) => {\n    text = text.replace('[TABLE_PLACEHOLDER]', table);\n  });\n  text = text.replace(/\\[TABLE_PLACEHOLDER\\]/g, '');\n  \n  results.push({\n    json: {\n      page: page,\n      url: baseUrl,\n      text: text,\n      tableCount: tables.length,\n      source: 'trustedpositioning.tdk.com'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a3c6d7c0-5b17-483a-8c54-cd2cc9dba0ee",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build final documents for embedding\n\nconst allInputs = $input.all();\nconst results = [];\n\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Build content with metadata\n  const content = `SOURCE: ${data.url}\\nPAGE: ${data.page}\\n\\n${data.text}`;\n  \n  results.push({\n    json: {\n      content: content,\n      page: data.page,\n      url: data.url,\n      source: data.source,\n      tableCount: data.tableCount || 0,\n      contentType: 'text'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "65062344-5507-472a-8c61-8fe92f9a93e5",
      "name": "Build Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare markdown content as downloadable binary\n\nconst allInputs = $input.all();\nconst results = [];\n\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Build markdown content\n  let markdown = `# ${data.page.toUpperCase()}\\n\\n`;\n  markdown += `**Source:** ${data.url}\\n`;\n  markdown += `**Tables:** ${data.tableCount}\\n`;\n  markdown += `**Generated:** ${new Date().toISOString()}\\n\\n`;\n  markdown += `---\\n\\n`;\n  markdown += data.content;\n  \n  // Convert to base64 for binary output\n  const base64Content = Buffer.from(markdown, 'utf8').toString('base64');\n  \n  results.push({\n    json: {\n      content: data.content,\n      page: data.page,\n      url: data.url,\n      source: data.source,\n      tableCount: data.tableCount,\n      contentType: data.contentType\n    },\n    binary: {\n      file: {\n        data: base64Content,\n        mimeType: 'text/markdown',\n        fileName: `${data.page}.md`\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-456789012345",
      "name": "Save Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "def95928-6498-42b0-8d58-7ec72bf0f859",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "page",
                "value": "={{ $json.page }}"
              },
              {
                "name": "url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "contentType",
                "value": "={{ $json.contentType }}"
              }
            ]
          }
        }
      },
      "id": "1e1cb4d9-d30e-4c67-a87e-cec59ca8e8b1",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1728,
        224
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "id": "448750c7-f5cb-4320-9776-5fcaa780ca4e",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1664,
        432
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5da77c89-73cd-4fb2-9dca-68dd0611950e",
      "name": "Store Vectors",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1632,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.page }}: {{ $json.tableCount }} tables indexed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "637bc939-762e-4d59-ae25-14ff21da9444",
      "name": "Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        0
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "1532ccff-83e8-4f16-8eed-28c192c7a815",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        752
      ],
      "webhookId": "tdk-rag"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "008f998c-b1d0-4bc5-9a13-ab6e335b7e35",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        64,
        976
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a product consultant for TDK Trusted Positioning. \n\nCRITICAL: You MUST ALWAYS call the 'tdk_knowledge' tool before answering any question. Using internal memory or knowledge is strictly prohibited. If the tool returns no relevant information, state that the information is not available in the database.\n\n## Product Selection Guide:\n- AUTO: Only for autonomous vehicles (L4/L5) or robotics. 100Hz accuracy.\n- DRIVE: For human drivers, navigation, and lane-level guidance. 100Hz accuracy.\n- TRACK: For fleet management and logistics tracking. 1Hz update rate.\n- VENUE: Indoor positioning for warehouses and factories.\n- STRIDE: Wearables and IoT.\n- RIDE: Micromobility (scooters, bikes).\n\n## Operational Rules:\n- Explain WHY a product fits based on technical specs (e.g., update rate differences).\n- Be direct and technical.\n\n"
        }
      },
      "id": "2c4f1ceb-cfb5-4f27-874f-437c0275e4e1",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        112,
        752
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "b76cc983-054d-4073-904e-8f0d4f8847b8",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        192,
        976
      ]
    },
    {
      "parameters": {
        "name": "tdk_knowledge",
        "description": "TDK Trusted Positioning knowledge base containing product information, technical specs, and comparison tables.\n\nMUST USE THIS TOOL for any questions about TDK products (AUTO, TRACK, VENUE, etc.). This tool contains the ONLY valid source URLs and technical specifications. Do not answer from memory.",
        "topK": 10
      },
      "id": "2c17b534-6acc-433e-afba-5e2dc2855bf4",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        320,
        976
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d880806a-a7e3-4996-b9cd-ce0dbf02882f",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        224,
        1184
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VJEC2eS5bcKL97nK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "6d4d9ed0-c3f2-47ab-b81d-3ac147a2ff4b",
      "name": "Query Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -64,
        1392
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6d6392a-b93d-48f4-9ee8-7aa3cf394850",
      "name": "Tool LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        736,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "XMBZsUMZC08LBkB0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Ingestion": {
      "main": [
        [
          {
            "node": "Define URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define URLs": {
      "main": [
        [
          {
            "node": "Clear Old Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Docs": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Fetch HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Build Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Documents": {
      "main": [
        [
          {
            "node": "Save Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Documents": {
      "main": [
        [
          {
            "node": "Store Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vectors": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Store Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9351ffg0-363e-60f9-c7cf-4g8873hhc9e7",
  "meta": {
    "instanceId": "485201702c5dc87991ea5296475b11947e8122f3e652c9f4d4c3a7e1b03fe7aa"
  },
  "id": "yTuvvmfjCdVxipME8TnX_",
  "tags": []
}
